body
{
	margin:0;
	auto;
	background-image: url("images/download.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

input[type="text"],input[type="text"],input[type="password"],input[type="text"],input[type="text"]{
	height:32px;
	width:250px;
	font-size:15px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:30px;
	
{
	height:32px;
	width:250px;
	font-size:15px;
	margin-bottom:20px;
	background-color:#fff;
	padding-left:30px;
	

btn-register
{
	padding:15px 25px;
	color:#fff;
	background-color:black;
	border:none;
	margin-bottom:20px;
}